"Wow <%= name%>, being <%= age%> must be awesome! Now, what are your three favorite numbers?

<form method "post" action = "/fav_numbers">
	<input type = "number" min = "0" name = "fav_numbers">
	<input type = "submit">
</form>