Hello Charleston! Why are you so boring?! What's your name, anyhow?

<form method = "post" action = "/name">
	<input type = "text" name = "user_name">   <!-- <> these brackets are tags -->
	<input type = "submit">
</form>	
	

